<!--<div>
  <iframe width="350" height="430" src="https://console.dialogflow.com/api-client/demo/embedded/1ccb9168-32df-4138-b163-d2705a8e8bd6"></iframe>
</div>-->
<form (ngSubmit)="saveContacto()" #contactoForm="ngForm">
    <div class="form-group" >
      <label for="email">Email</label>
      <input type="text" class="form-control" placeholder="name@example.com" [(ngModel)]="contacto.email" name="email" required>
      
    </div>
    <div class="form-group">
        <label for="fecha">Fecha</label>
        <input type="datetime" class="form-control" [(ngModel)]="contacto.fecha" name="fecha" required >
      </div>
    
    
    <div class="form-group">
      <label for="comentarios">Comentarios</label>
      <textarea class="form-control" [(ngModel)]="contacto.comentarios" name="comentarios" required rows="3"></textarea>
    </div>
    <button class="btn btn-primary" type="submit" [disabled]="!contactoForm.form.valid">Enviar</button>
  </form>